*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    width: 100%;
    height: 268px;
    display: flex;
    justify-content: center;
}

.heading{
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: sans-serif;
    color: #001F3F;
    font-size: 1rem;
    margin-top: 5px;
}

.menu{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 217, 0);
    margin-bottom: 20px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color: #001F3F;
    font-weight: 300;
}

.menu a:hover{
    border: solid 10px #001F3F;
    border-radius: 8%;
    color: rgb(220, 220, 220);
    background-color: #001F3F;
   
}
#home{
    border: solid 10px #001F3F;
    border-radius: 8%;
    color: rgb(220, 220, 220);
    background-color: #001F3F;
}

.introduction .int-heading{
   width: 100%;
   height: 50px;
   background-color: #001F3F;
   color: rgb(255, 213, 0);
display: flex;
align-items: center;

}

.introduction .int-heading h2{
    margin-left: 5px;
}

.introduction .int-body{
    width: 100%;
    height: 310px;
}

.introduction .int-body p{
    color: #001F3F;
    text-align: justify;
   
    margin: 20px 5px 0px 5px;
}

.footer{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.footer2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

